name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write   # REQUIRED for WIF

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Authenticate to GCP (WIF)
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: projects/840523927220/locations/global/workloadIdentityPools/github-pool/providers/github
        service_account: github-ci-cd@newproject-483611.iam.gserviceaccount.com

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: newproject-483611

    - name: Configure Docker
      run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    - name: Build & Push Image
      run: |
        docker build -t us-central1-docker.pkg.dev/newproject-483611/devops-repo/devops-app:${{ github.sha }} app
        docker push us-central1-docker.pkg.dev/newproject-483611/devops-repo/devops-app:${{ github.sha }}

    - name: Deploy to GKE
      run: |
        gcloud container clusters get-credentials devops-cluster --region us-central1
        kubectl set image deployment/devops-app \
          app=us-central1-docker.pkg.dev/newproject-483611/devops-repo/devops-app:${{ github.sha }}
