name: GKE CI/CD (Keyless)

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
        service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

    - uses: google-github-actions/setup-gcloud@v2

    - name: Docker Auth
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Build & Push Image
      run: |
        IMAGE=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/devops-repo/devops-app:${{ github.sha }}
        docker build -t $IMAGE .
        docker push $IMAGE
        sed -i "s|IMAGE_PLACEHOLDER|$IMAGE|g" deployment.yaml

    - name: Deploy to GKE
      run: |
        gcloud container clusters get-credentials devops-gke --region us-central1
        kubectl apply -f deployment.yaml
