name: Terraform + GKE Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - name: Auth to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
        service_account: ${{ secrets.GCP_SA }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Terraform Init & Apply
      run: |
        cd terraform
        terraform init
        terraform apply -auto-approve \
          -var="project_id=${{ secrets.GCP_PROJECT_ID }}"

    - name: Build & Push Docker
      run: |
        IMAGE=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/devops-repo/devops-app:${{ github.sha }}
        gcloud auth configure-docker us-central1-docker.pkg.dev -q
        docker build -t $IMAGE .
        docker push $IMAGE
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV

    - name: Deploy to GKE
      run: |
        gcloud container clusters get-credentials devops-gke \
          --region us-central1 \
          --project ${{ secrets.GCP_PROJECT_ID }}

        sed "s|IMAGE_TAG|$IMAGE|g" k8s/deployment.yaml | kubectl apply -f -
        kubectl apply -f deployment.yaml
        kubectl apply -f service.yaml
