name: CI-CD Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud (OIDC)
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/840523927220/locations/global/workloadIdentityPools/github-pool/providers/github"
        service_account: "github-ci-cd@newproject-483611.iam.gserviceaccount.com"

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: newproject-483611

    - name: Configure Docker for Artifact Registry
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    - name: Build and Push Docker Image
      run: |
        docker build -t us-central1-docker.pkg.dev/newproject-483611/devops-repo/devops-app:${{ github.sha }} .
        docker push us-central1-docker.pkg.dev/newproject-483611/devops-repo/devops-app:${{ github.sha }}

    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials devops-cluster \
          --region us-central1 \
          --project newproject-483611

    - name: Deploy to GKE
      run: |
        kubectl set image deployment/devops-app \
          app=us-central1-docker.pkg.dev/newproject-483611/devops-repo/devops-app:${{ github.sha }}
